<ion-header>

    <ion-navbar color="danger">
        <ion-title>{{title}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="bg-black" padding>

    <ion-list>
        <ion-item *ngFor="let post of posts" (click)="showPostDetails(post.id)">
            <ion-avatar item-start>
                <img src="../assets/img/defaultthumb.png" class="custom-avatar">
            </ion-avatar>
            <h2 text-wrap> {{post?.title}}</h2>
            <!-- <p>{{post?.description | striphtml }}</p> -->
            <p><a>Read more</a></p>
        </ion-item>
    </ion-list>

    <!-- *ngIf="pageSize.size > 0 && pageCount != pageCount" -->
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <img src="../assets/img/banner1.png" />
    </ion-toolbar>
</ion-footer>