page-posts {
    .custom-avatar {
        height: 30vw;
        width: 30vw;
        border: 1px solid #5C0D9C;
        border-radius: 50%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
}