<ion-header>

    <ion-navbar color="danger">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        <ion-title>{{ subCategory? subCategory?.name : 'Categories' }}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="openSearch()">
         <ion-icon name="search"></ion-icon>
        </button>
        </ion-buttons>

        <ion-buttons end>
            <button ion-button icon-only>
        <ion-icon name="notifications-outline"></ion-icon>
      </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button icon-only clear (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content class="bg-black" padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing..."></ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <button class="lightred" ion-item *ngFor="let category of categories" (click)="itemSelected($event, category)">
          {{ category.name }}
        </button>
    </ion-list>

    <ion-card>

        <ion-card-content>
            <div *ngFor="let block of blocks" class="b-b mb-10">
                <h5 *ngIf="block.show_title==1">{{block?.title}}</h5>
                <div *ngIf="block.show_description==1" [innerHtml]="block?.description"></div>
                <button (click)="readMoreOnblock(block)">read more</button>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>