            page-postdetail {
                .post-title {
                    color: #005C99;
                }
                .button-bar {
                    margin: 0 auto !important;
                }
                ion-card-content p {
                    margin: 0 0 2px;
                    margin-bottom: 15px !important;
                    font-size: 1.4rem;
                    font-weight: normal;
                    line-height: 1.5 !important;
                    color: #222;
                    text-align: justify !important;
                }
                .button.button-calm,
                .button-calm.button-red,
                .button-calm.button-lightblue,
                .button-calm.button-darkblue,
                .button-calm.button-green,
                .button-calm.button-yellow,
                .button-calm.button-purple,
                .button-calm.button-gray,
                .button-calm.button-black,
                .button-calm.button-white {
                    border-color: transparent;
                    background-color: #11c1f3;
                    color: #fff;
                }
                .button.button-calm:hover,
                .button-calm.button-red:hover,
                .button-calm.button-lightblue:hover,
                .button-calm.button-darkblue:hover,
                .button-calm.button-green:hover,
                .button-calm.button-yellow:hover,
                .button-calm.button-purple:hover,
                .button-calm.button-gray:hover,
                .button-calm.button-black:hover,
                .button-calm.button-white:hover {
                    color: #fff;
                    text-decoration: none;
                }
                .button.button-calm.active,
                .button-calm.active.button-red,
                .button-calm.active.button-lightblue,
                .button-calm.active.button-darkblue,
                .button-calm.active.button-green,
                .button-calm.active.button-yellow,
                .button-calm.active.button-purple,
                .button-calm.active.button-gray,
                .button-calm.active.button-black,
                .button-calm.active.button-white,
                .button.button-calm.activated,
                .button-calm.activated.button-red,
                .button-calm.activated.button-lightblue,
                .button-calm.activated.button-darkblue,
                .button-calm.activated.button-green,
                .button-calm.activated.button-yellow,
                .button-calm.activated.button-purple,
                .button-calm.activated.button-gray,
                .button-calm.activated.button-black,
                .button-calm.activated.button-white {
                    border-color: #a2a2a2;
                    background-color: #0a9dc7;
                }
                .button.button-calm.button-clear,
                .button-calm.button-clear.button-red,
                .button-calm.button-clear.button-lightblue,
                .button-calm.button-clear.button-darkblue,
                .button-calm.button-clear.button-green,
                .button-calm.button-clear.button-yellow,
                .button-calm.button-clear.button-purple,
                .button-calm.button-clear.button-gray,
                .button-calm.button-clear.button-black,
                .button-calm.button-clear.button-white {
                    border-color: transparent;
                    background: none;
                    box-shadow: none;
                    color: #11c1f3;
                }
                .button.button-calm.button-icon,
                .button-calm.button-icon.button-red,
                .button-calm.button-icon.button-lightblue,
                .button-calm.button-icon.button-darkblue,
                .button-calm.button-icon.button-green,
                .button-calm.button-icon.button-yellow,
                .button-calm.button-icon.button-purple,
                .button-calm.button-icon.button-gray,
                .button-calm.button-icon.button-black,
                .button-calm.button-icon.button-white {
                    border-color: transparent;
                    background: none;
                }
                .button.button-calm.button-outline,
                .button-calm.button-outline.button-red,
                .button-calm.button-outline.button-lightblue,
                .button-calm.button-outline.button-darkblue,
                .button-calm.button-outline.button-green,
                .button-calm.button-outline.button-yellow,
                .button-calm.button-outline.button-purple,
                .button-calm.button-outline.button-gray,
                .button-calm.button-outline.button-black,
                .button-calm.button-outline.button-white {
                    border-color: #11c1f3;
                    background: transparent;
                    color: #11c1f3;
                }
                .button.button-calm.button-outline.active,
                .button-calm.button-outline.active.button-red,
                .button-calm.button-outline.active.button-lightblue,
                .button-calm.button-outline.active.button-darkblue,
                .button-calm.button-outline.active.button-green,
                .button-calm.button-outline.active.button-yellow,
                .button-calm.button-outline.active.button-purple,
                .button-calm.button-outline.active.button-gray,
                .button-calm.button-outline.active.button-black,
                .button-calm.button-outline.active.button-white,
                .button.button-calm.button-outline.activated,
                .button-calm.button-outline.activated.button-red,
                .button-calm.button-outline.activated.button-lightblue,
                .button-calm.button-outline.activated.button-darkblue,
                .button-calm.button-outline.activated.button-green,
                .button-calm.button-outline.activated.button-yellow,
                .button-calm.button-outline.activated.button-purple,
                .button-calm.button-outline.activated.button-gray,
                .button-calm.button-outline.activated.button-black,
                .button-calm.button-outline.activated.button-white {
                    background-color: #11c1f3;
                    box-shadow: none;
                    color: #fff;
                }
                .button-bar {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -moz-box;
                    display: -moz-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-flex: 1;
                    -webkit-flex: 1;
                    -moz-box-flex: 1;
                    -moz-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                    width: 100%;
                }
                .paging-btn {
                    text-decoration: none;
                    display: inline-block;
                    padding: 8px 16px;
                }
                .paging-btn:hover {
                    background-color: #ddd;
                    color: black;
                }
                .previous {
                    // background-color: #f1f1f1;
                    color: black;
                }
                .next {
                    // background-color: #4CAF50;
                    color: white;
                }
                .round {
                    border-radius: 50%;
                }
                .centa {
                    text-align: center !important;
                }
                .light-blu {
                    background-color: #ECCBCB;
                }
            }