<ion-header>

    <ion-navbar color="danger">
        <ion-title>{{details?.title}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="openSearch()">
         <ion-icon name="search"></ion-icon>
        </button>
        </ion-buttons>

        <ion-buttons end>
            <button ion-button icon-only>
        <ion-icon name="notifications-outline"></ion-icon>
      </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button icon-only clear (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content class="">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">></ion-refresher-content>
    </ion-refresher>

    <ion-card>

        <ion-item>

            <h2 class="post-title">Page {{currentPage + 1}} of {{size}}</h2>

        </ion-item>

        <img ng-src="http://app.loversify.com/assets/web/uploads/{{post.postPhoto}}" onError="this.src='assets/img/card-saopaolo.jpg'" *ngIf="(currentPage + 1) == 1">

        <ion-card-content class="selectable" *ngIf="(currentPage + 1) == 1">
            <p [innerHtml]="details?.description"></p>
        </ion-card-content>

        <ion-card-content class="selectable">
            <p [innerHtml]="details?.posts[currentPage]"></p>
        </ion-card-content>
        <ion-row>
            <ion-col>
                <button ion-button round class="paging-btn prev" [disabled]="currentPage==0" (click)="prev()" color="danger">&laquo; Prev</button>
            </ion-col>
            <ion-col>
                <ion-fab center bottom>
                    <button ion-fab mini color="danger"><ion-icon name="add"></ion-icon></button>

                    <ion-fab-list side="left" class="fab-ls">
                        <button ion-button icon-right clear color="danger" (click)="like()"><ion-icon  [name]="userMetalResponse?.is_like == 1? 'md-heart' : 'ios-heart-outline' "></ion-icon></button>
                        <div color="danger">Favourite</div>

                    </ion-fab-list>
                    <ion-fab-list side="right" class="fab-ls">
                        <button ion-fab color="primary" (click)="shareViaTwitter()"><ion-icon name="logo-twitter"></ion-icon></button>
                        <div color="danger">Twitter</div>
                    </ion-fab-list>
                    <ion-fab-list side="top" class="fab-ls">
                        <button ion-fab color="primary" (click)="shareViaFacebook()"><ion-icon name="logo-facebook"></ion-icon></button>
                        <div color="danger">Facebook</div>
                        <button ion-button icon-right clear color="danger" (click)="copy()"><ion-icon name="copy"></ion-icon></button>
                        <div color="danger">Copy</div>
                        <button ion-fab color="secondary" (click)="shareViaWhatsApp()"><ion-icon name="logo-whatsapp"></ion-icon></button>
                        <div color="danger">WhatsApp</div>
                    </ion-fab-list>
                </ion-fab>
            </ion-col>
            <ion-col>
                <button ion-button round class="paging-btn next" [disabled]="!((size-1) > 1 && (currentPage) != (size-1))" (click)="next()" color="danger">Next &raquo;</button>
            </ion-col>
        </ion-row>
    </ion-card>

    <div *ngFor="let block of blocks" class="b-b mb-10">
        <h5>{{block?.title}}</h5>
        <div [innerHtml]="block?.description"></div>
        <div [innerHtml]="block?.body"></div>
    </div>

</ion-content>