            page-postdetail {
                .post-title {
                    color: #005C99;
                }
                .button-bar {
                    margin: 0 auto !important;
                }
                ion-card-content p {
                    margin: 0 0 2px;
                    margin-bottom: 15px !important;
                    font-size: 1.4rem;
                    font-weight: normal;
                    line-height: 1.5 !important;
                    color: #222;
                    text-align: justify !important;
                }
                .button.button-calm,
                .button-calm.button-red,
                .button-calm.button-lightblue,
                .button-calm.button-darkblue,
                .button-calm.button-green,
                .button-calm.button-yellow,
                .button-calm.button-purple,
                .button-calm.button-gray,
                .button-calm.button-black,
                .button-calm.button-white {
                    border-color: transparent;
                    background-color: #11c1f3;
                    color: #fff;
                }
                .button.button-calm:hover,
                .button-calm.button-red:hover,
                .button-calm.button-lightblue:hover,
                .button-calm.button-darkblue:hover,
                .button-calm.button-green:hover,
                .button-calm.button-yellow:hover,
                .button-calm.button-purple:hover,
                .button-calm.button-gray:hover,
                .button-calm.button-black:hover,
                .button-calm.button-white:hover {
                    color: #fff;
                    text-decoration: none;
                }
                .button.button-calm.active,
                .button-calm.active.button-red,
                .button-calm.active.button-lightblue,
                .button-calm.active.button-darkblue,
                .button-calm.active.button-green,
                .button-calm.active.button-yellow,
                .button-calm.active.button-purple,
                .button-calm.active.button-gray,
                .button-calm.active.button-black,
                .button-calm.active.button-white,
                .button.button-calm.activated,
                .button-calm.activated.button-red,
                .button-calm.activated.button-lightblue,
                .button-calm.activated.button-darkblue,
                .button-calm.activated.button-green,
                .button-calm.activated.button-yellow,
                .button-calm.activated.button-purple,
                .button-calm.activated.button-gray,
                .button-calm.activated.button-black,
                .button-calm.activated.button-white {
                    border-color: #a2a2a2;
                    background-color: #0a9dc7;
                }
                .button.button-calm.button-clear,
                .button-calm.button-clear.button-red,
                .button-calm.button-clear.button-lightblue,
                .button-calm.button-clear.button-darkblue,
                .button-calm.button-clear.button-green,
                .button-calm.button-clear.button-yellow,
                .button-calm.button-clear.button-purple,
                .button-calm.button-clear.button-gray,
                .button-calm.button-clear.button-black,
                .button-calm.button-clear.button-white {
                    border-color: transparent;
                    background: none;
                    box-shadow: none;
                    color: #11c1f3;
                }
                .button.button-calm.button-icon,
                .button-calm.button-icon.button-red,
                .button-calm.button-icon.button-lightblue,
                .button-calm.button-icon.button-darkblue,
                .button-calm.button-icon.button-green,
                .button-calm.button-icon.button-yellow,
                .button-calm.button-icon.button-purple,
                .button-calm.button-icon.button-gray,
                .button-calm.button-icon.button-black,
                .button-calm.button-icon.button-white {
                    border-color: transparent;
                    background: none;
                }
                .button.button-calm.button-outline,
                .button-calm.button-outline.button-red,
                .button-calm.button-outline.button-lightblue,
                .button-calm.button-outline.button-darkblue,
                .button-calm.button-outline.button-green,
                .button-calm.button-outline.button-yellow,
                .button-calm.button-outline.button-purple,
                .button-calm.button-outline.button-gray,
                .button-calm.button-outline.button-black,
                .button-calm.button-outline.button-white {
                    border-color: #11c1f3;
                    background: transparent;
                    color: #11c1f3;
                }
                .button.button-calm.button-outline.active,
                .button-calm.button-outline.active.button-red,
                .button-calm.button-outline.active.button-lightblue,
                .button-calm.button-outline.active.button-darkblue,
                .button-calm.button-outline.active.button-green,
                .button-calm.button-outline.active.button-yellow,
                .button-calm.button-outline.active.button-purple,
                .button-calm.button-outline.active.button-gray,
                .button-calm.button-outline.active.button-black,
                .button-calm.button-outline.active.button-white,
                .button.button-calm.button-outline.activated,
                .button-calm.button-outline.activated.button-red,
                .button-calm.button-outline.activated.button-lightblue,
                .button-calm.button-outline.activated.button-darkblue,
                .button-calm.button-outline.activated.button-green,
                .button-calm.button-outline.activated.button-yellow,
                .button-calm.button-outline.activated.button-purple,
                .button-calm.button-outline.activated.button-gray,
                .button-calm.button-outline.activated.button-black,
                .button-calm.button-outline.activated.button-white {
                    background-color: #11c1f3;
                    box-shadow: none;
                    color: #fff;
                }
                .button-bar {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -moz-box;
                    display: -moz-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-flex: 1;
                    -webkit-flex: 1;
                    -moz-box-flex: 1;
                    -moz-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                    width: 100%;
                }
                .paging-btn {
                    text-decoration: none;
                    display: inline-block;
                    padding: 8px 16px;
                }
                .paging-btn:hover {
                    background-color: #ddd;
                    color: black;
                }
                .previous {
                    // background-color: #f1f1f1;
                    color: black;
                }
                .next {
                    // background-color: #4CAF50;
                    color: white;
                }
                .round {
                    border-radius: 50%;
                }
                .centa {
                    text-align: center !important;
                }
                .light-blu {
                    background-color: #ECCBCB;
                }
                .fab-ls {
                    background-color: #ffffff;
                    color: #3032ce;
                    font-size: 12px;
                    padding: 3px;
                }
                .button-red,
                .button-lightblue,
                .button-gray,
                .button-darkblue,
                .button-green,
                .button-yellow,
                .button-purple,
                .button-white,
                .button-black {
                    border-color: transparent;
                    background-color: #f8f8f8;
                    color: #444;
                    position: relative;
                    display: inline-block;
                    margin: 0;
                    padding: 0 12px;
                    min-width: 52px;
                    min-height: 47px;
                    border-width: 1px;
                    border-style: solid;
                    border-radius: 4px;
                    vertical-align: top;
                    text-align: center;
                    text-overflow: ellipsis;
                    font-size: 16px;
                    line-height: 42px;
                    cursor: pointer;
                }
                .button:hover,
                .button-red:hover,
                .button-lightblue:hover,
                .button-darkblue:hover,
                .button-green:hover,
                .button-yellow:hover,
                .button-purple:hover,
                .button-gray:hover,
                .button-black:hover,
                .button-white:hover {
                    color: #444;
                    text-decoration: none;
                }
                .button.active,
                .active.button-red,
                .active.button-lightblue,
                .active.button-darkblue,
                .active.button-green,
                .active.button-yellow,
                .active.button-purple,
                .active.button-gray,
                .active.button-black,
                .active.button-white,
                .button.activated,
                .activated.button-red,
                .activated.button-lightblue,
                .activated.button-darkblue,
                .activated.button-green,
                .activated.button-yellow,
                .activated.button-purple,
                .activated.button-gray,
                .activated.button-black,
                .activated.button-white {
                    border-color: #a2a2a2;
                    background-color: #e5e5e5;
                }
                .button:after,
                .button-red:after,
                .button-lightblue:after,
                .button-darkblue:after,
                .button-green:after,
                .button-yellow:after,
                .button-purple:after,
                .button-gray:after,
                .button-black:after,
                .button-white:after {
                    position: absolute;
                    top: -6px;
                    right: -6px;
                    bottom: -6px;
                    left: -6px;
                    content: ' ';
                }
                .button-red {
                    color: #fff;
                    background-color: #ef473a;
                }
                .button-lightblue {
                    color: #fff;
                    background-color: #11c1f3;
                }
                .button-darkblue {
                    color: #fff;
                    background-color: #387ef5;
                }
                .button-green {
                    color: #fff;
                    background-color: #33cd5f;
                }
                .button-yellow {
                    color: #fff;
                    background-color: #ffc900;
                }
                .button-purple {
                    color: #fff;
                    background-color: #886aea;
                }
                .button-gray {
                    color: #444;
                    background-color: #f8f8f8;
                }
                .button-black {
                    color: #fff;
                    background-color: #444;
                }
                .button-white {
                    color: #444;
                    background-color: #fff;
                }
                a.button,
                a.button-red,
                a.button-lightblue,
                a.button-darkblue,
                a.button-green,
                a.button-yellow,
                a.button-purple,
                a.button-gray,
                a.button-black,
                a.button-white {
                    text-decoration: none;
                }
                iframe,
                object,
                embed {
                    max-width: 100%;
                }
            }