.selectable {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.sidebar-profile {
    height: 150px;
    position: relative;
    background-color: #ef473a;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/img/user-profile-bg.jpg);
}

.sidebar-profile .sidebar-profile-avatar {
    width: 64px;
    height: 64px;
    position: absolute;
    left: 16px;
    top: 25px;
}

.sidebar-profile .sidebar-profile-avatar>img {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.sidebar-profile .sidebar-profile-title {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    float: left;
    margin-top: 50px;
    margin-left: 90px;
    text-align: left;
    // margin: 16px 0 0 16px;
    // position: absolute;
    // bottom: 20px;
    // left: 5px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25) !important;
}

.bg-black {
    background-color: #0C0000 !important
}

.block-title {
    font-weight: bold !important;
    font-size: 16px !important;
}

.block-link {
    text-decoration: none !important;
    color: #3444d3;
    text-align: left !important;
    text-transform: lowercase !important;
    font-size: 15px !important;
}