<ion-header>
    <ion-navbar color="danger">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        <ion-title>Search</ion-title>

        <ion-buttons end>
            <button ion-button icon-only>
        <ion-icon name="notifications-outline"></ion-icon>
      </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button icon-only clear (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
    <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)" class="danger">
    </ion-searchbar>
    <!-- <button ion-button end>Cancel</button> -->
</ion-header>

<ion-content class="bg-black" padding>
    <ion-list *ngIf="hasResult">
        <ion-item *ngFor="let post of search" (click)="showPostDetails(post.id)">
            <h2 text-wrap>{{post?.title}}</h2>
            <p><a>Read more</a></p>
        </ion-item>
    </ion-list>

    <div class="bg-light-grey" *ngIf="!hasResult && !justVisit">
        <h3>Oh, my Love!</h3>
        <p>sorry, your search didn't return any result. Still, we can write it for you.</p>
        <button ion-button type="button" class="danger" (click)="goTo('ContactPage')">Make a request</button>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <img src="../assets/img/banner1.png" />
    </ion-toolbar>
</ion-footer>